.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;

}

.App-header {
  background-image: url(https://images.unsplash.com/photo-1512581574034-6f1da619c5fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=592069c0e5ea3f6eaa7192f997e04f29&auto=format&fit=crop&w=1631&q=80);
  height:350px;
  padding: 10px;
  color: white;
  text-align: left;
  font-size: 20px;
}

.App-title {
  font-size: 1.3em;
}

.App-intro {
  font-size: large;
}
.first{
  background: rgba(0, 0, 0, 0.5)
}
body{
  background: rgb(157, 227, 232);
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
